body{
          font-family:"Arial", Serif;
          background-color:#252839;
          overflow-x:hidden;
          width: 100%;
          height: 1000px;
          margin:0;
        }
        
   /****************************Strt of The Header **********************************************/
      #ul-nav-Header{
      background-color:#677077;
      overflow:hidden;
      height:50px;
          z-index:2;
          top:0;
          left:0;
          margin-block-start: 0em;
            padding-inline-start:0px;
            
    }

    #ul-nav-Header a{
      float:left;
      display:block;
      color:#f2f2f2;
      text-align:center;
      padding:15px 16px;
      text-decoration:none;
      font-size:17px;
    }

    #ul-nav-Header li{
      /*margin:8px 0 0 0;*/
      list-style:none;
      display: inline;
        }

    /*#ul-nav-Header a:hover{
      background-color:#f2b632;
      color:#000;
    }*/
        #header_info a:hover{
        background-color:#f2b632;
      color:#000;
        }
        #header_logout a:hover{
        background-color:red;
        color:fff;
        }
img#avatar {
            padding: 5px;
            border-radius: 50%;
            width:48px;
            height: 43px;
            float: left;
            margin-left: 18%;
        }
        
/******************************* End Of The Header *******************************************/
       
/*************************** Start of The Navigation  *************************************************/
        
        img#logo{
            padding: 5px;
            width:40%;
            height: 77px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            padding: 22px;
            padding-bottom: 4px;
        }
        #ul-nav
          { 
          height:100%;
          width:200px;
          position:fixed;
          z-index:1;
          top:0;
          left:0;
            background-color:#677077;
          
              /*overflow-x:hidden;*/
          list-style-position: none;
             list-style-type: none;
            margin-block-start: 0px;
            padding-inline-start:0px;
            }

    #ul-nav a{
          padding:10px 30px;
        padding-top: 30px;
          padding-bottom: 30px;
        text-decoration:none;
          font-size:22px;
          color:#fff;
          display:block;
        font-size: 18px;
        transition:0.3s;
         
        }

    #ul-nav a:hover{
        background-color: #f2b632;
        color:#000000;
        border-radius: 10px;
        }
/****************************** End Of The Navigation *************************************/

/******************************* Start Of Content *****************************/
 #content{
         background-color:#30231d;
         color:white;
         overflow:hidden;
         margin-top: 120px;
     }

 .public_employee_form
     { 
         color:  #252839;
         margin-left: 303px;
         margin: 0 auto;
         background-color: #fff;
         opacity: 0.9;
         border: 1px solid rgba(0, 0, 0, 0.1);
         max-width: 600px;
         padding: 15px 35px 45px;
         border-radius:7%; 
         margin-top: 50px;
     }
     .public_employee_form input{
         margin:10px;   
     }
    .public_employee_form td{/* Signing Report Table */
      text-align: center;
        }
     .public_employee_form a{
     
     
     }
    .btn_public_employee {
            background-color:#f2b632;
            color:#252839;
            width:auto;
            height:40px; 
            font-size:18px;
            border: 1px solid #f2b632;
     }
    
     .view_text{
         width: 30px;
         margin-left:8px;
         padding: 5px;
         text-align: center;
}
        #vt_p_status ,#vt_v_status{
            width: 90px;
                }
 .edit_text{/*Text Size */
        height:23px;
        }
 /******************************** End of Content *************************/