body{
          font-family:"Arial", Serif;
          background-color:#252839;
          overflow-x:hidden;
          width: 100%;
          height: 1000px;
          margin:0;
        }

/*The Header *******************************************************************/
      #ul-nav-Header{
      background-color:#677077;
      overflow:hidden;
      height:50px;
          z-index:2;
          top:0;
          left:0;
          margin-block-start: 0em;
            padding-inline-start:0px;
            
    }

    #ul-nav-Header a{
      float:left;
      display:block;
      color:#f2f2f2;
      text-align:center;
      padding:15px 16px;
      text-decoration:none;
      font-size:17px;
    }

    #ul-nav-Header li{
      /*margin:8px 0 0 0;*/
      list-style:none;
      display: inline;
        }

    /*#ul-nav-Header a:hover{
      background-color:#f2b632;
      color:#000;
    }*/
        #header_info a:hover{
        background-color:#f2b632;
      color:#000;
        }
        #header_logout a:hover{
        background-color:red;
        color:fff;
        }
img#avatar {
            padding: 5px;
            border-radius: 50%;
            width:48px;
            height: 43px;
            float: left;
            margin-left: 18%;
        }
        
/* End Of The Header *********************************************************/
       
        /*Start of The Navigation  *******************************************************************/
        
        img#logo{
            padding: 5px;
            width:40%;
            height: 77px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            padding: 22px;
            padding-bottom: 4px;
        }
        #ul-nav
          { 
          height:100%;
          width:200px;
          position:fixed;
          z-index:1;
          top:0;
          left:0;
            background-color:#677077;
              /*overflow-x:hidden;*/
          list-style-position: none;
             list-style-type: none;
            margin-block-start: 0px;
            padding-inline-start:0px;
              
            }

    #ul-nav a{
          padding:10px 30px;
          padding-top: 20px;
          padding-bottom: 30px;
          text-decoration:none;
          color:#fff;
          display:block;
          font-size: 17px;
          transition:0.3s;
          border: 2px solid #000;
          border: 1px  black;
        }

    #ul-nav a:hover{
        background-color: #f2b632;
        color: #000;
        border-radius: 10px;
        }
/****************************** End Of The Navigation ****************************************/
/**************************** Start Of The Content ******************************************/

 #content{
         background-color:#30231d;
         color:white;
         overflow:hidden;
         margin-top: 120px;
     }
    .public_hr_admin_form
     {
         
         color:  #252839;
         margin-left: 303px;
         margin: 0 auto;
         background-color: #fff;
         opacity: 0.9;
         border: 1px solid rgba(0, 0, 0, 0.1);
         max-width: 600px;
         padding: 15px 35px 45px;
         border-radius:7%; 
         margin-top: 50px;
     }
     .public_hr_admin_form input{
         margin:10px;   
         color: #252839;
     }
     .public_hr_admin_form a{
     
     }
        .edit_text{/*Text Size */
        height:23px;
        }

        #search_label{/*search label  */
         margin-left: 440px;
         background-color: #fff;
         opacity: 0.9;
         width: 550px;
         padding: 15px 15px 25px;
         border-radius:7%;
         border: 1px solid rgba(0, 0, 0, 0.1);
     }
        .btn_public_hradmin {/* hr public button */
            background-color:#f2b632;
            color:#252839;
            width:auto;
            height:40px; 
            font-size:18px;
            border: 1px solid #f2b632;
     }
/**************************End of The Content ******************************/
/***************** table **********************/
 .grid_content_second_div h3{
             margin-left: 250px;
             color:#252839;
             background-color: #fff;
             opacity: 0.9;
             width: 260px; 
             padding:10px;
             border-radius:10px;
             text-align: center;
             }
        .grid_content{
            
            margin-top: 100px;
            margin-left:70px; 
            display: grid;
            grid-template-columns: 600px 600px;
            grid-template-rows: 300px;
        }

.public_employee_table
         { 
             color:  #252839;
             background-color: #fff;
             opacity: 0.9;
             margin-left: 150px;
             border: 1px solid rgba(0, 0, 0, 0.1);
             max-width: 600px;
             padding: 20px 30px 20px;
             border-radius:7%; 
             margin-top: 20px;
         }
         .public_employee_table input{
             margin:10px;   
         }
        .public_employee_table td{/* Signing Report Table */
          text-align: center;
            }
         .public_employee_table a{

         }
            .view_text{/* the person report input align center*/
             width: 30px;
             margin-left:8px;
             padding: 5px;
             text-align: center;

                   }